/* --------------------------------------------------------------------- */
/*                          CSS MAIN COMPOSENTS                          */
/* --------------------------------------------------------------------- */



:root{
    --bloc-tarifs-width: 30%;
    --td-padding: 2%;
    --second-td-width: 82%;
    --last-td-width: 10%;
    --font-tarifs-h5: 1.4vw;
    --font-trueprice: 1.4vw;
    --font-notebasdepage: 0.4vw;
}


main > div > * {
    padding: 0;
    box-sizing: border-box;    
}

tbody, table {
    width: 100%;
    box-sizing: border-box;
    background-color: var(--color-purewhite);
}

td {
    padding: var(--td-padding);
    border: 1px solid var(--color-greylight);
    box-sizing: border-box;
    vertical-align: middle;
}

tr > td:first-child {
    width: calc(100 - var(--second-td-width) - var(--first-td-width));
    padding: var(--td-padding);
}

tr > td:nth-child(2) {
    width: var(--second-td-width);
}

tr > td:last-child {
    width: var(--last-td-width);
    text-align: center; 
    padding: 0;
    font-weight: var(--font-heavy-weight);
}

tr > td:last-child > a {
    border-bottom: 1px solid transparent;
}

tr > td:last-child > a:hover {
    border-color: var(--color-pureblack);
    transition: all ease-in-out 0.2s;
}

main > div > img {
    vertical-align: top;
}

.categories-content {
    margin-bottom: var(--big-title-space);
    background-color: var(--color-purewhite);
    border: 1px solid var(--color-greylight);
    box-sizing: border-box;
}

.categories-content > * {
    width: var(--categories-subcontent);
    height: 100%;
    padding: var(--categories-subcontent-padding);
    display: inline-block;
}

.Bloc-tarifs {
    box-sizing: border-box;
    vertical-align: top;
    width: var(--bloc-tarifs-width);
    padding: var(--categories-subcontent-padding);
    margin: 0% calc((100% - 3 * var(--bloc-tarifs-width))/6);
    display: inline-block;
    text-align: center;
    background-color: var(--color-purewhite);
    border: 1px solid #b2b2b2;

}

.Bloc-tarifs h5 {
    margin: 0%;
    font-size: var(--font-tarifs-h5);
    font-weight: var(--font-heavy-weight);
}

.Bloc-tarifs hr {
    margin: 5% auto 12% auto;
}

.sousbloc-tarifs {
    margin-top: 12%;
}

.true-price {
    margin: var(--classic-categorie-space) auto 0 auto;
    font-size: var(--font-trueprice);
    display: table;
    color: var(--color-purewhite);
    border-radius: var(--classic-border-radius);
    padding: 5% 10%;
    background-color: var(--color-bluelight);
}

.note-basdepage {
    font-size: var(--font-notebasdepage);
    font-weight: bold;
    font-style: italic;
    margin-top: var(--low-space);
}











/* -------------------------------------------------------------- */
/*                          CSS MAIN RESPONSIVE                   */
/* -------------------------------------------------------------- */


/* ------------------------ Width : >1920px ------------------------ */

@media screen and (min-width: 1920px){

    :root{
        --bloc-tarifs-width: 30%;
        --td-padding: 1%;
        --td-padding: 2%;
        --second-td-width: 82%;
        --last-td-width: 10%;
        --font-tarifs-h5: 1.2vw;
        --font-trueprice: 1.2vw;
        --font-notebasdepage: 0.35vw;
    }
    
    td {
        padding: 2%;
        font-size: 1.1vw;
    }
    
    tr > td:first-child {
        width: 8%;
        padding: 1%;
    }
    
    tr > td:nth-child(2) {
        width: 82%;
    }
    
    tr > td:last-child {
        width: 10%;
    }
}

/* ------------------------ Width : <1366px ------------------------ */


@media screen and (min-width: 1025px) and (max-width: 1367px) {
      
    :root{
        --bloc-tarifs-width: 30%;
        --td-padding: 1%;
        --td-padding: 2%;
        --second-td-width: 82%;
        --last-td-width: 10%;
        --font-tarifs-h5: 1.6vw;
        --font-trueprice: 1.6vw;
        --font-notebasdepage: 0.45vw;
    }

    td {
        padding: 2%;
        font-size: 1.1vw;
    }
    
    tr > td:first-child {
        width: 8%;
        padding: 1%;
    }
    
    tr > td:nth-child(2) {
        width: 82%;
    }
    
    tr > td:last-child {
        width: 10%;
    }
}


/* ------------------------ Width : <1024 ------------------------ */

@media screen and (min-width: 769px) and (max-width: 1024px) {

    :root{
        --bloc-tarifs-width: 30%;
        --td-padding: 1%;
        --td-padding: 2%;
        --second-td-width: 82%;
        --last-td-width: 10%;
        --font-tarifs-h5: 1.8vw;
        --font-trueprice: 1.8vw;
        --font-notebasdepage: 0.5vw;
    }

    td {
        padding: 2%;
        font-size: 1.8vw;
    }
    
    tr > td:first-child {
        width: 10%;
        padding: 1%;
    }
    
    tr > td:nth-child(2) {
        width: 75%;
    }
    
    tr > td:last-child {
        width: 15%;
    }
}


/* ------------------------ Width : <768 ------------------------ */


@media screen and (min-width: 641px) and (max-width: 768px) {


    :root{
        --bloc-tarifs-width: 50%;
        --td-padding: 1%;
        --td-padding: 2%;
        --second-td-width: 82%;
        --last-td-width: 10%;
        --font-tarifs-h5: 2.2vw;
        --font-trueprice: 2.2vw;
        --font-notebasdepage: 0.55vw;
    }

    .Bloc-tarifs {
        display: block;
        margin: 5vh auto;
    }

    td {
        padding: 2%;
        font-size: 1.8vw;
    }
    
    tr > td:first-child {
        width: 0%;
        padding: 0%;
    }
    
    tr > td:nth-child(2) {
        width: 80%;
    }
    
    tr > td:last-child {
        width: 20%;
    }
}


/* ------------------------ Width : <640px ------------------------ */

@media screen and (min-width: 481px) and (max-width: 640px) {

    :root{
        --bloc-tarifs-width: 55%;
        --td-padding: 1%;
        --td-padding: 2%;
        --second-td-width: 82%;
        --last-td-width: 10%;
        --font-tarifs-h5: 2.7vw;
        --font-trueprice: 2.7vw;
        --font-notebasdepage: 0.6vw;
    }

    .Bloc-tarifs {
        display: block;
        margin: 5vh auto;
    }

    td {
        padding: 2%;
        font-size: 2.5vw;
    }
    
    tr > td:first-child {
        width: 0%;
        padding: 0%;
    }
    
    tr > td:nth-child(2) {
        width: 80%;
    }
    
    tr > td:last-child {
        width: 20%;
    }
}


/* ------------------------ Width : <480px ------------------------ */


@media screen and (min-width: 361px) and (max-width: 480px) {

    :root{
        --bloc-tarifs-width: 60%;
        --td-padding: 1%;
        --td-padding: 2%;
        --second-td-width: 82%;
        --last-td-width: 10%;
        --font-tarifs-h5: 3.1vw;
        --font-trueprice: 3.1vw;
        --font-notebasdepage: 0.65vw;
    }

    .Bloc-tarifs {
        display: block;
        margin: 5vh auto;
    }

    td {
        padding: 2%;
        font-size: 3vw;
    }
    
    tr > td:first-child {
        width: 0%;
        padding: 0%;
    }
    
    tr > td:nth-child(2) {
        width: 70%;
    }
    
    tr > td:last-child {
        width: 30%;
    }
}


/* ------------------------ Width : <360px ------------------------ */


@media screen and (min-width: 320px) and (max-width: 360px) {

    :root{
        --bloc-tarifs-width: 65%;
        --td-padding: 1%;
        --td-padding: 2%;
        --second-td-width: 82%;
        --last-td-width: 10%;
        --font-tarifs-h5: 3.7vw;
        --font-trueprice: 3.7vw;
        --font-notebasdepage: 0.7vw;
    }

    .Bloc-tarifs {
        display: block;
        margin: 5vh auto;
    }

    td {
        padding: 2%;
        font-size: 3.8vw;
    }
    
    tr > td:first-child {
        width: 0%;
        padding: 0%;
    }
    
    tr > td:nth-child(2) {
        width: 70%;
    }
    
    tr > td:last-child {
        width: 30%;
    }
}


/* ------------------------ Width : <320px ------------------------ */

@media screen and (max-width: 320px) {
    
    :root{
        --bloc-tarifs-width: 70%;
        --td-padding: 1%;
        --td-padding: 2%;
        --second-td-width: 82%;
        --last-td-width: 10%;
        --font-tarifs-h5: 4.1vw;
        --font-trueprice: 4.1vw;
        --font-notebasdepage: 0.7vw;
    }

    .Bloc-tarifs {
        display: block;
        margin: 5vh auto;
    }

    td {
        padding: 2%;
        font-size: 2.5vw;
    }
    
    tr > td:first-child {
        width: 0%;
        padding: 0%;
    }
    
    tr > td:nth-child(2) {
        width: 80%;
    }
    
    tr > td:last-child {
        width: 20%;
    }
}